.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.points-block{
  font-size: 30px;
}
.btn-class{
  width: 329px;
  height: 38px;
  background-color: #35BF05;
  color: white;
  border-radius: 5px;
  gap: 10px;
  border-style: none;
  font-size: 20px;
}
.btn-class-disabled{
  width: 329px;
  height: 38px;
  background-color: #585858;
  color: white;
  border-radius: 5px;
  gap: 10px;
  border-style: none;
  font-size: 20px;
}
.class-menu{
  position: absolute;
  margin-top: 150px;
  margin-left: 54px;
  text-align: left;
}
.Magazine-name{
  font-size: 32px;
  font-family: Inter;
}
.active-class{
  color: #35BF05;
  margin-top: 10px;
}
.discription{
  font-size: 20px;
}
.mini-discription{
  margin-top: 10px;
}
.clickClass{
  margin-top: 75px;
  font-size: 32px;
}
.image-class{
  width: 314px;
  margin-top: 60px;
}